### Patterns

##### print(&) in stright line with gap

In [1]:
for n in range(1,9):
    for i in range(2):
        print('&')
    print( )

&
&

&
&

&
&

&
&

&
&

&
&

&
&

&
&

##### Print(*) in stright line

In [9]:
for n in range(1,8):
    for i in range(1):
        print('*',end=' ')
        i+=1
    print( )

*
*
*
*
*
*
*

#### Right triangle pattern

In [4]:
for i in range(1,11):
    print('& '*i)

&
& &
& & &
& & & &
& & & & &
& & & & & &
& & & & & & &
& & & & & & & &
& & & & & & & & &
& & & & & & & & & &

In [5]:
 for i in range(1,6):
     print("* "*i)

*
* *
* * *
* * * *
* * * * *

In [6]:
for i in range(1,12):
    print('# '*i)

#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #
# # # # # # # #
# # # # # # # # #
# # # # # # # # # #
# # # # # # # # # # #

##### Right triangle with pattern(&,#)

In [10]:
 for i in range(1,10):
     if i%2==0:
         print('# '*i)
     else:
         print('& '*i)

&
# #
& & &
# # # #
& & & & &
# # # # # #
& & & & & & &
# # # # # # # #
& & & & & & & & &

In [12]:
for i in range(1,10):
    if i%4==0:
        print('@' *i)
    else:
        print('*' *i)

*
**
***
@@@@
*****
******
*******
@@@@@@@@
*********

In [13]:
for r in range(1,12):
    if r%3==0:
        print('$ '*r)
    else:
        print('% '*r)

%
% %
$ $ $
% % % %
% % % % %
$ $ $ $ $ $
% % % % % % %
% % % % % % % %
$ $ $ $ $ $ $ $ $
% % % % % % % % % %
% % % % % % % % % % %

In [14]:
for i in range(1,8):
    print("i "*i)

i
i i
i i i
i i i i
i i i i i
i i i i i i
i i i i i i i

#### Left triangle pattern

In [18]:
n=7
for i in range(n):
    for j in range(n -i):
        print(" ",end=" ")
    for j in range(i +1):
        print("*",end=" ")
    print( )

              *
            * *
          * * *
        * * * *
      * * * * *
    * * * * * *
  * * * * * * *

In [22]:
D=5
for i in range(D):
    for k in range(D -i):
        print(" ",end=" ")
    for k in range(i +1):
        print("&",end=" ")
    print( )

          &
        & &
      & & &
    & & & &
  & & & & &

In [4]:
E=9
for i in range(E):
    for k in range(E -i):
        print(" ",end=" ")
    for k in range(i +1):
        print(i +1,end=" " )
    print( )

                  1
                2 2
              3 3 3
            4 4 4 4
          5 5 5 5 5
        6 6 6 6 6 6
      7 7 7 7 7 7 7
    8 8 8 8 8 8 8 8
  9 9 9 9 9 9 9 9 9

In [34]:
b=6
for i in range(b):
    for a in range(b -i):
        print(" ",end=" ")
    for a in range(i+1):
        print(i+2,end=" ")
    print( )

            2
          3 3
        4 4 4
      5 5 5 5
    6 6 6 6 6
  7 7 7 7 7 7

In [33]:
b=8
for i in range(b):
    for a in range(b -i):
        print(" ",end=" ")
    for a in range(i +1):
        print(i+1,end=" ")
    print( )

                1
              2 2
            3 3 3
          4 4 4 4
        5 5 5 5 5
      6 6 6 6 6 6
    7 7 7 7 7 7 7
  8 8 8 8 8 8 8 8

In [7]:
for i in range(1,11):
    print( (str(i)+' ')*i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10

##### Square pattern

In [35]:
a=6
for i in range(a):
    for j in range(a):
        print("*",end=" ")
    print( )

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

#### Reverse pattern

In [37]:
n=6
for i in range(n,0,-1):
    m=i
    for j in range(0,i):
        print(m,end=" ")
    print( )

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [7]:
G=10
for i in range(G,0,-1):
    H=G
    for K in range(0,-1):
        print(G,end=" ")
    print( )

##### Differnt patterns

In [2]:
for i in range(1,8):
    print((str(i)+' '*i))

1
2
3
4
5
6
7

In [3]:
for r in range(1,10):
    print((r+1)*1)

2
3
4
5
6
7
8
9
10

In [9]:
for p in range(1,12):
    print((p*2)*1)

2
4
6
8
10
12
14
16
18
20
22

In [10]:
for p in range(1,12):
    print((p*2)*2)

4
8
12
16
20
24
28
32
36
40
44

In [11]:
 h=1
for i in range(1,10):
    for j in range(i,i+1):
        print(h,end=' ')
        h+=1
    print( )

1
2
3
4
5
6
7
8
9

#### Arithmatical patterns by using tranles

In [12]:
 h=1 #### Addintion
for i in range(1,10):
    for j in range(1,i+1):
        print(h,end=' ')
        h+=1
    print( )

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36
37 38 39 40 41 42 43 44 45

In [5]:
for i in range(1,14):
    print(list(range(1, i+1)))

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [7]:
for i in range(1,10): ###Substraction
    print(list(range(1, i-1)))

[]
[]
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

In [6]:
A=6  ### multiplication 
for i in range(1, A+1):
    for j in range(1, i+1):
        print(i*j,end=" ")
    print( )

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36

In [6]:
 r=1
for i in range(1,8):
    print(list(range(r,r+1)))

[1]
[1]
[1]
[1]
[1]
[1]
[1]

In [9]:
 r=1
for i in range(1,8):
    print(list(range(r,r+i)))
    r+1

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

In [10]:
g=1
for i in range(1,6):
    print(list(range(g,g+2)))
    g+i

[1, 2]
[1, 2]
[1, 2]
[1, 2]
[1, 2]

In [11]:
g=1
for i in range(1,6):
    print(list(range(g,g+1)))
    g+i

[1]
[1]
[1]
[1]
[1]

In [12]:
g=1
for i in range(1,6):
    print(list(range(g,g+i)))
    g+i

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [13]:
g=1
for i in range(1,10):
    print(list(range(g,g+i)))
    g+=i

[1]
[2, 3]
[4, 5, 6]
[7, 8, 9, 10]
[11, 12, 13, 14, 15]
[16, 17, 18, 19, 20, 21]
[22, 23, 24, 25, 26, 27, 28]
[29, 30, 31, 32, 33, 34, 35, 36]
[37, 38, 39, 40, 41, 42, 43, 44, 45]

In [4]:
for i in range(5,15):
    print(i*' %')

 % % % % %
 % % % % % %
 % % % % % % %
 % % % % % % % %
 % % % % % % % % %
 % % % % % % % % % %
 % % % % % % % % % % %
 % % % % % % % % % % % %
 % % % % % % % % % % % % %
 % % % % % % % % % % % % % %

In [5]:
for i in range(1,9):
    for n in range(1):
        print(i,i+1,i+2,end=' ')
        n+=1
    print( )

1 2 3
2 3 4
3 4 5
4 5 6
5 6 7
6 7 8
7 8 9
8 9 10

In [6]:
for i in range(1,9):
    for n in range(1):
        print(n,n+1,n+2,end=' ')
        n+=1
    print( )

0 1 2
0 1 2
0 1 2
0 1 2
0 1 2
0 1 2
0 1 2
0 1 2